<a [href]="repository.html_url" target="_blank">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar>
                <ng-container *ngIf="repository.stargazers_count">
                    <mat-icon [matBadge]="repository.stargazers_count" matBadgePosition="after" matBadgeColor="accent">
                        star
                    </mat-icon>
                </ng-container>
            </div>
            <mat-card-title>{{repository | repoName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ng-container *ngIf="repository.archived">
                <mat-icon>archive</mat-icon>
            </ng-container>
            <p>
                {{repository.description}}
            </p>
        </mat-card-content>
    </mat-card>
</a>