.landing__profile__links {
    padding-top: 1em;
    display: flex;

    & > a {
        text-decoration: none;
        margin: 0 1em;

        & > i {
            font-size: 2em;
            color: white;
        }
    }
}